<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Cart</title>
        <!--  Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css" />
        <!--  Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!--  Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--  Custom CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/W3.css" />
    </h:head>
    <h:body>
        <!-- Copy setiap kali buat page baru, dari sini ... -->

        <h:form id="formGoKart">
            #{produkBean.readAllBook()}
            #{customerBean.cekApakahLoggedOn()}
            #{orderBean.readAllCartPesanan()}
            #{customerBean.gantiCheck()}
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="user-menu">
                                <ul>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navToManageAcc()}" value="&nbsp; #{customerBean.loggedChecker}" update="growl" class="fa fa-user"></p:commandLink>
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/> 
                                        </i>
                                    </li>
                                    <li>
                                        <a href="cart.xhtml?faces-redirect=true"><i class="fa fa-shopping-cart"></i> My
                                            Cart</a>
                                    </li>
                                    <li>
                                        <a href="produk.xhtml?faces-redirect=true"><i class="fa fa-building"></i>
                                            Shop</a>
                                    </li>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navigasiCheck()}" value="&nbsp; #{customerBean.flagChecker}" class="fa fa-lock"></p:commandLink>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form id="formLuarBiasa"> <!-- logo dll -->
            <div class="site-branding-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="logo">
                                <h1>
                                    <a href="index.xhtml?faces-redirect=true"><img src="img/logo.png" alt="" /></a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shopping-item">
                                <a href="cart.xhtml?faces-redirect=true">Cart - <span class="cart-amunt">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                    <i class="fa fa-shopping-cart"></i> <span
                                        class="product-count">#{orderBean.listDetailPesananDalamCart.size()}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form> <!-- menu utama -->
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"> <span
                                    class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="index.xhtml?faces-redirect=true">Home</a>
                                </li>
                                <li>
                                    <a href="produk.xhtml?faces-redirect=true">Shop page</a>
                                </li>
                                <li class="active">
                                    <a href="cart.xhtml?faces-redirect=true">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <!-- ... sampai sini. -->

        <div class="product-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-bit-title text-center">
                            <h2>Shopping Cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Page title area -->

        <div class="single-product-area" id="1a">
            <div class="zigzag-bottom" id="1b"></div>
            <div class="container" id="1c">
                <div class="row" id="1d">
                    <div class="col-md-4">
                        <div class="single-sidebar">
                            <h:form>
                                <h2 class="sidebar-title">
                                    Search Products
                                </h2>
                                <p:inputText value="#{produkBean.bookGeneral.title}"/> 
                                <p:commandButton value="Search" action="#{produkBean.searchProduk()}" update="growl2"/>
                                <p:growl id="growl2" showDetail="true" autoUpdate="true" life="2000"/>  
                            </h:form>
                        </div>
                        <div class="single-sidebar">
                            <h:form>
                                <h2 class="sidebar-title">
                                    Products
                                </h2>
                                <ui:repeat value="#{produkBean.listAllBook}" var="item">
                                
                                    <div class="col-md-3 col-sm-6">
                                    <div class="single-shop-product">
                                        <p:commandLink action="#{produkBean.showSingleProduct(item)}">
                                            <img src="#{item.gambar}" class="recent-thumb" alt="" /> 
                                        </p:commandLink>
                                     
                                    <h2>
                                       
                                    </h2>
                                    <div class="product-sidebar-price">
                                        <ins>Rp. #{item.price}</ins> 
                                    </div>
                                </div>
                               
                            </div>
                                    
                                
                            </ui:repeat>
                            </h:form>
                            
                            <!--
                            <div class="thubmnail-recent">
                                <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="" />
                                <h2>
                                    <a href="single-product.html">Sony Smart TV - 2015</a>
                                </h2>
                                <div class="product-sidebar-price">
                                    <ins>$700.00</ins> <del>$800.00</del>
                                </div>
                            </div>
                            <div class="thubmnail-recent">
                                <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="" />
                                <h2>
                                    <a href="single-product.html">Sony Smart TV - 2015</a>
                                </h2>
                                <div class="product-sidebar-price">
                                    <ins>$700.00</ins> <del>$800.00</del>
                                </div>
                            </div>
                            <div class="thubmnail-recent">
                                <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="" />
                                <h2>
                                    <a href="single-product.html">Sony Smart TV - 2015</a>
                                </h2>
                                <div class="product-sidebar-price">
                                    <ins>$700.00</ins> <del>$800.00</del>
                                </div>
                            </div> -->
                            
                        </div>
                    </div>

                    <div class="col-md-8" id="a">
                        <div class="product-content-right" id="b">
                            <div class="woocommerce" id="c">
                                <h:form id="formCart">
                                    <table var="item" value="#{orderBean.listDetailPesananDalamCart}" class="shop_table cart" id="tabelCart" autoUpdate="true">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">
                                                    &nbsp;
                                                </th>
                                                <th class="product-thumbnail">
                                                    &nbsp;
                                                </th>
                                                <th class="product-name">
                                                    Product
                                                </th>
                                                <th class="product-price">
                                                    Price
                                                </th>
                                                <th class="product-quantity">
                                                    Quantity
                                                </th>
                                                <th class="product-subtotal">
                                                    Total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tabelDalam">
                                            <ui:repeat var="item" value="#{orderBean.listDetailPesananDalamCart}"
                                                       >
                                                <tr class="cart_item">
                                                    <td class="product-remove">
                                                        <p:commandLink value="X" action="#{orderBean.deleteCartPesanan(item)}"
                                                                       update="formCart"></p:commandLink>
                                                    </td>
                                                    <td class="product-thumbnail">
                                                        <a href="single-product.html"><img width="145"
                                                                                           height="145" alt="poster_1_up" class="shop_thumbnail"
                                                                                           src="#{item.id.gambar}" /></a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="single-product.html">#{item.id.title}</a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">Rp. #{item.id.price}</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity buttons_added">
                                                            <p:commandButton class="minus" value="-" action="#{orderBean.kurangiKuantitas(item)}"
                                                                             update="formCart formLuarBiasa"/>
                                                            <h:outputText class="input-text qty text"
                                                                          title="Qty" value="#{item.kuantitas}" /> 
                                                            <p:commandButton class="plus" value="+" action="#{orderBean.tambahKuantitas(item)}"
                                                                             update="formCart formLuarBiasa"/>

                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="amount">Rp. #{orderBean.readSubTotalCart(item)}</span>
                                                    </td>
                                                </tr>
                                            </ui:repeat>
                                            <tr>
                                                <td class="actions" colspan="6">
                                                    <input type="submit" value="Update Cart"
                                                           name="update_cart" class="button" />
                                                    <p:commandButton
                                                        value="Checkout"
                                                        class="checkout-button button alt wc-forward" 
                                                        action="#{orderBean.checkOut()}" update="growl formLuarBiasa"/>
                                                </td>
                                            </tr>  

                                        </tbody>
                                    </table>
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/>


                                    <div class="cart-collaterals">
                                       <!-- <div class="cross-sells">
                                            <h2>
                                                You may be interested in...
                                            </h2>
                                            <ul class="products">
                                                <li class="product">
                                                    <a href="single-product.html"> <img width="325"
                                                                                        height="325" alt="T_4_front"
                                                                                        class="attachment-shop_catalog wp-post-image"
                                                                                        src="img/product-2.jpg" /> </a>
                                                    <h3>
                                                        #{produkBean.listAllBook.get(0).title}
                                                    </h3>
                                                    <span class="price"><span class="amount">
                                                            Rp. #{produkBean.listAllBook.get(0).price}</span></span>
                                                    <a class="add_to_cart_button" rel="nofollow"
                                                       href="single-product.html">View Product</a>
                                                </li>
                                            </ul>
                                        </div> -->

                                        <div class="cart_totals ">
                                            <h2>
                                                Cart Totals
                                            </h2>
                                            <table cellspacing="0">
                                                <tbody>
                                                    <tr class="cart-subtotal">
                                                        <th>
                                                            Cart Subtotal
                                                        </th>
                                                        <td>
                                                            <span class="amount">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="shipping">
                                                        <th>
                                                            Shipping and Handling
                                                        </th>
                                                        <td>
                                                            Free Shipping
                                                        </td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <th>
                                                            Order Total
                                                        </th>
                                                        <td>
                                                            <strong><span class="amount">Rp. #{orderBean.readTotalTerakhirCart()}</span></strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>


        <!--  Latest jQuery form server --><script
            src="js/jquery.min.js" type="text/javascript"
        ></script>
        <!--  Bootstrap JS form CDN --> <script
            src="js/bootstrap.min.js"
        type="text/javascript" ></script>
        <!--  jQuery sticky menu --> <script src="js/owl.carousel.min.js"
        type="text/javascript" ></script> <script
        src="js/jquery.sticky.js" type="text/javascript" ></script>
        <!--  jQuery easing --> <script src="js/jquery.easing.1.3.min.js"
        type="text/javascript" ></script>
        <!--  Main Script --> <script src="js/main.js" type="text/javascript"
        ></script>
        <!--  Slider --> <script type="text/javascript" src="js/bxslider.min.js"
        ></script> <script type="text/javascript"
        src="js/script.slider.js" ></script>
    </h:body>
</html>

