<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Login</title>
        <!--  Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css" />
        <!--  Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!--  Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--  Custom CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/W3.css" />
    </h:head>
    <h:body>
        <h:form>
            #{produkBean.readAllBook()}
            #{customerBean.cekApakahLoggedOn()}
            #{customerBean.gantiCheck()}
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="user-menu">
                                <ul>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navToManageAcc()}" value="#{customerBean.loggedChecker}" update="growl" class="fa fa-user"></p:commandLink>
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/> 
                                        </i>
                                    </li>
                                    <li>
                                        <a href="cart.xhtml?faces-redirect=true"><i class="fa fa-shopping-cart"></i> My
                                            Cart</a>
                                    </li>
                                    <li>
                                        <a href="produk.xhtml?faces-redirect=true"><i class="fa fa-building"></i>
                                            Shop</a>
                                    </li>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navigasiCheck()}" value="#{customerBean.flagChecker}" class="fa fa-lock"></p:commandLink>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form> <!-- logo dll -->
            <div class="site-branding-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="logo">
                                <h1>
                                    <a href="index.xhtml?faces-redirect=true"><img src="img/logo.png" alt="" /></a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shopping-item">
                                <a href="cart.xhtml?faces-redirect=true">Cart - <span class="cart-amunt">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                    <i class="fa fa-shopping-cart"></i> <span
                                        class="product-count">#{orderBean.listDetailPesananDalamCart.size()}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form> <!-- menu utama -->
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"> <span
                                    class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="index.xhtml?faces-redirect=true">Home</a>
                                </li>
                                <li>
                                    <a href="produk.xhtml?faces-redirect=true">Shop page</a>
                                </li>
                                <li>
                                    <a href="cart.xhtml?faces-redirect=true">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <!-- ... sampai sini -->

        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login to our site!</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="well">
                                <h:form id="loginForm">
                                    <div class="form-group">
                                        <label for="username" class="control-label">User ID</label>
                                        <p:inputText type="text" class="form-control" 
                                                     id="username" value="#{customerBean.pelangganYangLogin.idCustomer}" required="true"
                                                     requiredMessage="Masukkan User ID !"
                                                     title="Please enter you user ID" 
                                                     placeholder="example@gmail.com"/>
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <p:password class="form-control" id="password" value="#{customerBean.pelangganYangLogin.password}" 
                                                    required="true" title="Please enter your password"
                                                    requiredMessage="Masukkan password !"/>
                                        <span class="help-block"></span>
                                    </div>
                                    <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                                    <p:commandButton value="Submit" action="#{customerBean.validateLogin()}"
                                                     class="btn btn-success btn-block"/>
                                </h:form>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="lead">Register now for <span class="text-success">FREE</span></p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            </ul>
                            <p><a href="register.xhtml?faces-redirect=true;" class="btn btn-info btn-block">Yes please, register now!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h:form>
            <div class="related-products-wrapper">
                <div class="related-products-carousel">

                    <!-- Start one product from here -->
                    <ui:repeat value="#{produkBean.listAllBook}" var="item">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="#{item.gambar}" alt="" />
                                <div class="product-hover">                            
                                    <a href="" class="view-details-link"><i
                                            class="fa fa-link"></i> See details</a>
                                </div>
                            </div>
                            <h2>
                                <a href="">#{item.title}</a>
                            </h2>
                            <div class="product-carousel-price">
                                <ins>Rp. #{item.price}</ins> 
                            </div>
                        </div>
                        <!-- 1 product -->
                    </ui:repeat>
                </div>
            </div>
        </h:form>

        <!--  Latest jQuery form server --><script
            src="js/jquery.min.js" type="text/javascript"
        ></script>
        <!--  Bootstrap JS form CDN --> <script
            src="js/bootstrap.min.js"
        type="text/javascript" ></script>
        <!--  jQuery sticky menu --> <script src="js/owl.carousel.min.js"
        type="text/javascript" ></script> <script
        src="js/jquery.sticky.js" type="text/javascript" ></script>
        <!--  jQuery easing --> <script src="js/jquery.easing.1.3.min.js"
        type="text/javascript" ></script>
        <!--  Main Script --> <script src="js/main.js" type="text/javascript"
        ></script>
        <!--  Slider --> <script type="text/javascript" src="js/bxslider.min.js"
        ></script> <script type="text/javascript"
        src="js/script.slider.js" ></script>
    </h:body>
</html>

