<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Manage Account</title>
        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--  Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css" />
        <!--  Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!--  Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--  Custom CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/W3.css" />
        <style>
            /* Head */

            .acc-col{


                min-height: 300px;
                margin-top: 5%;
                background-color: #ffffff;
                padding: 20px;
                /*      border:#333 solid 1px;*/

            }
            .acc-col > h3{
                padding-bottom: 20px;
            }
            hr{
                border:solid 1px #d6d6d6;
            }
            section > form > div{

                padding: 5px;
            }
            .btn-div{

                margin-top:10px;
                padding-bottom: 10px;
            }


            .ui-67 .ui-head{
                text-align:center;
                padding:30px 0px;
                position:relative;
                border-bottom:2px solid #fff;
                box-shadow:0px 0px 5px rgba(0,0,0,0.1);
                background-color: #1997c6;
            }
            /* Details */
            .ui-67 .ui-head .ui-details{
                margin:0px 0px 74px;
            }
            .ui-67 .ui-head .ui-details h3{
                color:#fff;
                font-size:40px;
                line-height:60px;
                font-weight:300;
            }
            @media (max-width:400px){
                .ui-67 .ui-head .ui-details h3{
                    font-size:25px;
                    line-height:40px;
                    font-weight:400;
                }
            }
            .ui-67 .ui-head .ui-details h4{
                color:#fff;
                font-size:18px;
                line-height:38px;	
                font-weight:400;
            }
            /* Image */
            .ui-67 .ui-head .ui-image{
                width:100%;
                position:absolute;
                bottom:-55px;
                z-index: 10;
            }
            .ui-67 .ui-head img{
                width:120px;
                border-radius:100%;
                margin:0px auto;
                border:4px solid #fff;
                box-shadow:0px 0px 15px rgba(0,0,0,0.1);
            }

        </style>
    </h:head>
    <h:body>
        <h:form>
            #{produkBean.readAllBook()}
            #{customerBean.cekApakahLoggedOn()}
            #{orderBean.readPesananCustomer(customerBean.pelangganYangLogin.idCustomer)}
            #{customerBean.gantiCheck()}
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="user-menu">
                                <ul>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navToManageAcc()}" value="&nbsp; #{customerBean.loggedChecker}" update="growl" class="fa fa-user"></p:commandLink>
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/> 
                                        </i>
                                    </li>
                                    <li>
                                        <a href="cart.xhtml?faces-redirect=true"><i class="fa fa-shopping-cart"></i> My
                                            Cart</a>
                                    </li>
                                    <li>
                                        <a href="produk.xhtml?faces-redirect=true"><i class="fa fa-building"></i>
                                            Shop</a>
                                    </li>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navigasiCheck()}" value="&nbsp; #{customerBean.flagChecker}" class="fa fa-lock"></p:commandLink>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form> <!-- logo dll -->
            <div class="site-branding-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="logo">
                                <h1>
                                    <a href="index.xhtml?faces-redirect=true"><img src="img/logo.png" alt="" /></a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shopping-item">
                                <a href="cart.xhtml?faces-redirect=true">Cart - <span class="cart-amunt">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                    <i class="fa fa-shopping-cart"></i> <span
                                        class="product-count">#{orderBean.listDetailPesananDalamCart.size()}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form> <!-- menu utama -->
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"> <span
                                    class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="index.xhtml?faces-redirect=true">Home</a>
                                </li>
                                <li>
                                    <a href="produk.xhtml?faces-redirect=true">Shop page</a>
                                </li>
                                <li>
                                    <a href="cart.xhtml?faces-redirect=true">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <!-- UI - X Starts -->
                <div class="ui-67">

                    <!-- Head Starts -->
                    <div class="ui-head bg-lblue">
                        <!-- Details -->
                        <div class="ui-details">
                            <!-- Name -->
                            <h3 id="name-header">#{customerBean.pelangganYangLogin.nama}</h3>
                            <!-- Designation -->
                            <h4>Client Account</h4>
                        </div>
                        <!-- Image -->
                        <div class="ui-image">
                            <!-- User Image -->
                            <img src="img/Buku1.png" alt="Profile Picture" class="img-responsive" width="100" height="100"/>
                        </div>
                    </div>
                    <!-- Head Ends -->

                    <!-- Content Starts -->
                    <div class="ui-content">

                        <div class="row">

                            <div class="col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 acc-col">
                                <section>
                                    <h3>Contact Information</h3>
                                    <form class="ng-pristine ng-valid" role="form">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="inputName" class="control-label">Name:</label>
                                                #{customerBean.pelangganYangLogin.nama}
                                            </div>               
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="inputEmail3" class="control-label">Email:</label>
                                                #{customerBean.pelangganYangLogin.email}
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="inputPassword3" class="control-label">Phone Number:</label>
                                                #{customerBean.pelangganYangLogin.telepon}
                                            </div>  
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="inputEmail3" class="control-label">Address:</label>
                                                #{customerBean.pelangganYangLogin.alamat}
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="inputPassword3" class="control-label">City:</label>
                                                #{customerBean.pelangganYangLogin.kota}
                                            </div> 
                                        </div>
                                    </form>   
                                </section>
                                <section>
                                    <h3>Login Information</h3>
                                    <form class="" role="form">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="inputEmail3" class="control-label">Password:</label>
                                                <div class="">
                                                    #{customerBean.pelangganYangLogin.password}
                                                </div>
                                            </div>          
                                        </div>
                                    </form>  
                                </section>
                            </div>
                            <!-- col-8 -->
                        </div>

                    </div>
                    <!-- Content Ends -->
                </div>
                <!-- UI - X Ends -->
            </div>
        </h:form>
        <div align="center" class="table-responsive">
            Order History 
            <p:dataTable var="item" value="#{orderBean.listPesananCustomer}" tableStyle="width:auto"
                         emptyMessage="Belum ada pesanan yang dilakukan!" tableStyleClass="table table-striped">
                <p:column headerText="ID Pesanan">
                    #{item.idOrder}
                </p:column>
                <p:column headerText="Total Harga">
                    #{item.totalHarga}
                </p:column>

            </p:dataTable>
        </div>
        <!--  Latest jQuery form server --><script
            src="js/jquery.min.js" type="text/javascript"
        ></script>
        <!--  Bootstrap JS form CDN --> <script
            src="js/bootstrap.min.js"
        type="text/javascript" ></script>
        <!--  jQuery sticky menu --> <script src="js/owl.carousel.min.js"
        type="text/javascript" ></script> <script
        src="js/jquery.sticky.js" type="text/javascript" ></script>
        <!--  jQuery easing --> <script src="js/jquery.easing.1.3.min.js"
        type="text/javascript" ></script>
        <!--  Main Script --> <script src="js/main.js" type="text/javascript"
        ></script>
        <!--  Slider --> <script type="text/javascript" src="js/bxslider.min.js"
        ></script> <script type="text/javascript"
        src="js/script.slider.js" ></script>
    </h:body>
</html>

