<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Manage Order</title>
        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--  Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css" />
        <!--  Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!--  Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--  Custom CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/W3.css" />
        <style>
            .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
                border-style: none;
            }
            .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
                border-style: none;
            }
        </style>
    </h:head>
    <h:body>

        #{produkBean.readAllBook()}
        #{customerBean.cekApakahLoggedOn()}
        #{customerBean.gantiCheck()}
        <f:view>
            <h:form>
                <div class="header-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="user-menu">
                                    <ul>
                                        <li>
                                            <i>
                                                <p:commandLink action="#{customerBean.navToManageAcc()}" value="&nbsp; #{customerBean.loggedChecker}" update="growl" class="fa fa-user"></p:commandLink>
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/> 
                                            </i>
                                        </li>
                                        <li>
                                            <a href="cart.xhtml?faces-redirect=true"><i class="fa fa-shopping-cart"></i> My
                                                Cart</a>
                                        </li>
                                        <li>
                                            <a href="produk.xhtml?faces-redirect=true"><i class="fa fa-building"></i>
                                                Shop</a>
                                        </li>
                                        <li>
                                            <i>
                                                <p:commandLink action="#{customerBean.navigasiCheck()}" value="&nbsp; #{customerBean.flagChecker}" class="fa fa-lock"></p:commandLink>
                                            </i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

            <h:form> <!-- logo dll -->
                <div class="site-branding-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="logo">
                                    <h1>
                                        <a href="index.xhtml?faces-redirect=true"><img src="img/logo.png" alt="" /></a>
                                    </h1>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="shopping-item">
                                    <a href="cart.xhtml?faces-redirect=true">Cart - <span class="cart-amunt">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                        <i class="fa fa-shopping-cart"></i> <span
                                            class="product-count">#{orderBean.listDetailPesananDalamCart.size()}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
            <h:form> <!-- menu utama -->
                <div class="mainmenu-area">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"> <span
                                        class="sr-only">Toggle navigation</span> <span
                                        class="icon-bar"></span> <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="manageCust.xhtml?faces-redirect=true">Manage Customer</a>
                                    </li>
                                    <li>
                                        <a href="manageOrder1.xhtml?faces-redirect=true">Manage Order</a>
                                    </li>
                                    <li class="active">
                                        <a href="manageProduct.xhtml?faces-redirect=true">Manage Product</a>
                                    </li>
                                    <li>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        &nbsp; 
                                    </li>
                                    <li>
                                        <!-- Munculkan Dialog untuk Add Mahasiswa -->
                                        <p:commandLink value="Add Produk" type="button" 
                                                       update=":formMahasiswa:panelMahasiswa"
                                                       actionListener="#{produkBean.emptyGeneralBook()}"
                                                       onclick="PF('addMahasiswa').show();">
                                        </p:commandLink>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

            <h:form id="form">
                <p:growl id="growl1" showDetail="true" autoUpdate="true" life="2000"/> 
                <!-- Data Mahasiswa -->
                <div class="table-responsive">
                    <p:dataTable value="#{produkBean.listAllBook}" var="item" sortBy="#{item.id}"
                                 widgetVar="widgetTabelMahasiswa"
                                 id = "tabelMahasiswa" rowKey="#{item.id}"
                                 paginator="true" rows="5"
                                 selectionMode="single" selection="#{produkBean.bookGeneral}"
                                 tableStyle="width:auto" tableStyleClass="table table-striped">
                        <f:facet name="caption">Daftar Produk Buku</f:facet>

                        <p:column headerText="ID Produk"
                                  style="width:300px">  
                            <h:outputText value="#{item.id}"/>
                        </p:column>

                        <p:column headerText="Illustration?">  
                            <h:outputText value="#{item.illustrations}"/>
                        </p:column>

                        <p:column headerText="Judul">  
                            <h:outputText value="#{item.title}"/>
                        </p:column>

                        <p:column headerText="Deskripsi">  
                            <h:outputText value="#{item.description}"/>
                        </p:column>

                        <p:column  headerText="ISBN">

                            <h:outputText value="#{item.isbn}" />

                        </p:column>
                        <p:column  headerText="Harga">
                            <h:outputText value="#{item.price}" />
                        </p:column>

                        <p:column  headerText="Jumlah Halaman"
                                   style="width: 250px;">
                            <h:outputText value="#{item.nbOfPage}" />
                        </p:column>

                        <p:column headerText="Options" style="width:100px">  
                            <p:commandButton value="Edit" actionListener="#{produkBean.showEdit(item)}"
                                             update=":formEditMahasiswa:panelEditMahasiswa"/>
                        </p:column> 
                    </p:dataTable>
                </div>
                <p:contextMenu for="tabelMahasiswa">
                    <p:menuitem value="Delete data" update="tabelMahasiswa growl1"
                                icon="ui-icon-close" actionListener="#{produkBean.deleteBook()}"
                                ></p:menuitem>
                </p:contextMenu>    
            </h:form>
            <!-- add -->
            <!-- Dialog Add Mahasiswa -->
            <p:dialog header="Add Produk Baru" widgetVar="addMahasiswa" modal="true" height="500px" width="500px"
                      id="dialogAddMahasiswa" >
                <h:form id="formMahasiswa">
                    <h:panelGrid columns="2" id="panelMahasiswa">

                        Illustration <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.illustrations}" required="true"
                                         requiredMessage="Illustration harus diisi!" />
                        </h:panelGroup>

                        Judul  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.title}" required="true"
                                         requiredMessage="Judul harus diisi!"/>
                        </h:panelGroup>

                        Deskripsi  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.description}" required="true"
                                         requiredMessage="Deskripsi harus diisi!"/>
                        </h:panelGroup>

                        ISBN  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.isbn}" required="true"
                                         requiredMessage="ISBN harus diisi!"/>
                        </h:panelGroup>
                        Harga  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.price}" required="true"
                                         requiredMessage="Harga harus diisi!">
                            </p:inputText>
                        </h:panelGroup>

                        Jumlah Halaman  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.nbOfPage}" required="true"
                                         requiredMessage="Jumlah Halaman harus diisi!">
                            </p:inputText>
                        </h:panelGroup>

                        <f:facet name="footer">
                            <p:commandButton value="Add Produk" action="#{produkBean.addBook()}"
                                             update=":form:tabelMahasiswa :formMahasiswa:panelMahasiswa " process="@this :formMahasiswa:panelMahasiswa "/>
                            <h:panelGroup/>
                        </f:facet>
                    </h:panelGrid>
                </h:form>
            </p:dialog>  

            <!-- Edit -->
            <p:dialog header="Edit Produk" widgetVar="editMahasiswa" modal="true" height="300"
                      id="dialogEditMahasiswa" >
                <h:form id="formEditMahasiswa">
                    <h:panelGrid columns="2" id="panelEditMahasiswa">

                        Illustration <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.illustrations}" required="true"
                                         requiredMessage="Illustration harus diisi!" />
                        </h:panelGroup>

                        Judul  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.title}" required="true"
                                         requiredMessage="Judul harus diisi!"/>
                        </h:panelGroup>

                        Deskripsi  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.description}" required="true"
                                         requiredMessage="Deskripsi harus diisi!"/>
                        </h:panelGroup>

                        ISBN  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.isbn}" required="true"
                                         requiredMessage="ISBN harus diisi!"/>
                        </h:panelGroup>
                        Harga  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.price}" required="true"
                                         requiredMessage="Harga harus diisi!">
                            </p:inputText>
                        </h:panelGroup>

                        Jumlah Halaman  <h:panelGroup>:
                            <p:inputText value="#{produkBean.bookGeneral.nbOfPage}" required="true"
                                         requiredMessage="Jumlah Halaman harus diisi!">
                            </p:inputText>
                        </h:panelGroup>

                        <f:facet name="footer">
                            <p:commandButton value="Edit Mahasiswa" action="#{produkBean.updateBook()}"
                                             update=":form:tabelMahasiswa" process="@this :formEditMahasiswa:panelEditMahasiswa "/>
                            <h:panelGroup/>
                        </f:facet>
                    </h:panelGrid>
                </h:form>
            </p:dialog>
        </f:view>
    </h:body>
</html>

