<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Manage Account</title>
        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--  Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css" />
        <!--  Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!--  Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--  Custom CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/W3.css" />
    </h:head>
    <h:body>
        <h:form>
            #{produkBean.readAllBook()}
            #{customerBean.cekApakahLoggedOn()}
            #{customerBean.gantiCheck()}
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="user-menu">
                                <ul>
                                    <li>
                                        <i>
                                             <p:commandLink action="#{customerBean.navToManageAcc()}" value="&nbsp; #{customerBean.loggedChecker}" update="growl" class="fa fa-user"></p:commandLink>
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/> 
                                        </i>
                                    </li>
                                    <li>
                                        <a href="cart.xhtml?faces-redirect=true"><i class="fa fa-shopping-cart"></i> My
                                            Cart</a>
                                    </li>
                                    <li>
                                        <a href="produk.xhtml?faces-redirect=true"><i class="fa fa-building"></i>
                                            Shop</a>
                                    </li>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navigasiCheck()}" value="&nbsp; #{customerBean.flagChecker}" class="fa fa-lock"></p:commandLink>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form> <!-- logo dll -->
            <div class="site-branding-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="logo">
                                <h1>
                                    <a href="index.xhtml?faces-redirect=true"><img src="img/logo.png" alt="" /></a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shopping-item">
                                <a href="cart.xhtml?faces-redirect=true">Cart - <span class="cart-amunt">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                    <i class="fa fa-shopping-cart"></i> <span
                                        class="product-count">#{orderBean.listDetailPesananDalamCart.size()}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form> <!-- menu utama -->
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"> <span
                                    class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="index.xhtml?faces-redirect=true">Home</a>
                                </li>
                                <li>
                                    <a href="produk.xhtml?faces-redirect=true">Shop page</a>
                                </li>
                                <li>
                                    <a href="cart.xhtml?faces-redirect=true">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- pisah -->
            <h:panelGrid columns="3">
                <div><p:commandButton class="button-radius" value="Manage Customer" action="manageCust.xhtml?faces-redirect=true"/></div>
                <div><p:commandButton class="button-radius" value="Manage Order" action="manageOrder1.xhtml?faces-redirect=true"/></div>
                <div><p:commandButton class="button-radius" value="Manage Product" action="manageProduct.xhtml?faces-redirect=true"/></div>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

