<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Produk</title>
        <!--  Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css" />
        <!--  Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!--  Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--  Custom CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="css/responsive.css" />
    </h:head>
    <h:body>
        <!-- Copy setiap kali buat page baru, dari sini ... -->
        <h:form>
            #{produkBean.readAllBook()}
            #{customerBean.cekApakahLoggedOn()}
            #{customerBean.gantiCheck()}
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="user-menu">
                                <ul>
                                    <li> 
                                        <i>
                                           <p:commandLink action="#{customerBean.navToManageAcc()}" value="&nbsp; #{customerBean.loggedChecker}" update="growl" class="fa fa-user"></p:commandLink>
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/> 
                                        </i>
                                    </li>
                                    <li>
                                        <a href="cart.xhtml?faces-redirect=true"><i class="fa fa-shopping-cart"></i> My
                                            Cart</a>
                                    </li>
                                    <li>
                                        <a href="produk.xhtml?faces-redirect=true"><i class="fa fa-building"></i>
                                            Shop</a>
                                    </li>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navigasiCheck()}" value="&nbsp; #{customerBean.flagChecker}" class="fa fa-lock"></p:commandLink>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form> <!-- logo dll -->
            <div class="site-branding-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="logo">
                                <h1>
                                    <a href="index.xhtml?faces-redirect=true"><img src="img/logo.png" alt="" /></a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shopping-item">
                                <a href="cart.xhtml?faces-redirect=true">Cart - <span class="cart-amunt">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                    <i class="fa fa-shopping-cart"></i> <span
                                        class="product-count">#{orderBean.listDetailPesananDalamCart.size()}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form> <!-- menu utama -->
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"> <span
                                    class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="index.xhtml?faces-redirect=true">Home</a>
                                </li>
                                <li class="active">
                                    <a href="produk.xhtml?faces-redirect=true">Shop page</a>
                                </li>
                                <li>
                                    <a href="cart.xhtml?faces-redirect=true">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <!-- ... sampai sini -->

        <h:form>
            <p:panelGrid> <!-- display produk semuanya , pakai ui repeat -->
                <div class="single-product-area">
                    <div class="zigzag-bottom"></div>
                    <div class="container">
                        <div class="row">
                            <ui:repeat value="#{produkBean.listAllBook}" var="item">
                                <div class="col-md-3 col-sm-6">
                                    <div class="single-shop-product">
                                        <div class="product-upper">
                                            <img src="#{item.gambar}" alt="" />
                                        </div>
                                        <h2>
                                            <!-- bikin single pages buat tiap produk -->
                                            <p:commandLink value="#{item.title}" action="#{produkBean.showSingleProduct(item)}"/>

                                        </h2>
                                        <div class="product-carousel-price">
                                            <ins>Rp. #{item.price}</ins>
                                        </div>
                                        <div class="product-option-shop">
                                            <p:commandButton class="add_to_cart_button" action="#{orderBean.addCartPesanan(item)}"
                                                             value="Add to Cart">
                                            </p:commandButton>
                                        </div>
                                    </div>
                                </div>
                            </ui:repeat>
                        </div>
                    </div>
                </div>
            </p:panelGrid>

        </h:form>
        <!--  Latest jQuery form server --><script
            src="js/jquery.min.js" type="text/javascript"
        ></script>
        <!--  Bootstrap JS form CDN --> <script
            src="js/bootstrap.min.js"
        type="text/javascript" ></script>
        <!--  jQuery sticky menu --> <script src="js/owl.carousel.min.js"
        type="text/javascript" ></script> <script
        src="js/jquery.sticky.js" type="text/javascript" ></script>
        <!--  jQuery easing --> <script src="js/jquery.easing.1.3.min.js"
        type="text/javascript" ></script>
        <!--  Main Script --> <script src="js/main.js" type="text/javascript"
        ></script>
        <!--  Slider --> <script type="text/javascript" src="js/bxslider.min.js"
        ></script> <script type="text/javascript"
        src="js/script.slider.js" ></script>
    </h:body>
</html>

