<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Login</title>
        <!--  Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css" />
        <!--  Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!--  Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--  Custom CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/W3.css" />
        <style>
            body, html{
                height: 100%;
                background-repeat: no-repeat;
                font-family: 'Oxygen', sans-serif;
            }

            .main{
                margin-top: 70px;
            }

            h1.title { 
                font-size: 50px;
                font-family: 'Passion One', cursive; 
                font-weight: 400; 
            }

            hr{
                width: 10%;
                color: #fff;
            }

            .form-group{
                margin-bottom: 15px;
            }

            label{
                margin-bottom: 15px;
            }

            input,
            input::-webkit-input-placeholder {
                font-size: 11px;
                padding-top: 3px;
            }

            .main-login{
                background-color: #fff;
                /* shadows and rounded borders */
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

            }

            .main-center{
                margin-top: 30px;
                margin: 0 auto;
                max-width: 330px;
                padding: 40px 40px;

            }

            .login-button{
                margin-top: 5px;
            }

            .login-register{
                font-size: 11px;
                text-align: center;
            }

        </style>
    </h:head>
    <h:body>
        <h:form>
            #{produkBean.readAllBook()}
            #{customerBean.cekApakahLoggedOn()}
            #{customerBean.gantiCheck()}
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="user-menu">
                                <ul>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navToManageAcc()}" value="#{customerBean.loggedChecker}" update="growl" class="fa fa-user"></p:commandLink>
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/> 
                                        </i>
                                    </li>
                                    <li>
                                        <a href="cart.xhtml?faces-redirect=true"><i class="fa fa-shopping-cart"></i> My
                                            Cart</a>
                                    </li>
                                    <li>
                                        <a href="produk.xhtml?faces-redirect=true"><i class="fa fa-building"></i>
                                            Shop</a>
                                    </li>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navigasiCheck()}" value="#{customerBean.flagChecker}" class="fa fa-lock"></p:commandLink>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form> <!-- logo dll -->
            <div class="site-branding-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="logo">
                                <h1>
                                    <a href="index.xhtml?faces-redirect=true"><img src="img/logo.png" alt="" /></a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shopping-item">
                                <a href="cart.xhtml?faces-redirect=true">Cart - <span class="cart-amunt">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                    <i class="fa fa-shopping-cart"></i> <span
                                        class="product-count">#{orderBean.listDetailPesananDalamCart.size()}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form> <!-- menu utama -->
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"> <span
                                    class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="index.xhtml?faces-redirect=true">Home</a>
                                </li>
                                <li>
                                    <a href="produk.xhtml?faces-redirect=true">Shop page</a>
                                </li>
                                <li>
                                    <a href="cart.xhtml?faces-redirect=true">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form>
            <div class="container">
                <div class="row main">
                    <div class="main-login main-center">

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <p:inputText class="form-control" value="#{customerBean.pelangganGeneral.nama}" id="name"  
                                                 placeholder="Masukkan Nama Anda" required="true" requiredMessage="Nama harus diisi!"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <p:inputText class="form-control" value="#{customerBean.pelangganGeneral.email}" id="email"  
                                                 placeholder="Masukkan Email Anda" required="true" requiredMessage="Email harus diisi!"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address" class="cols-sm-2 control-label">Address </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <p:inputText class="form-control" id="username" value="#{customerBean.pelangganGeneral.alamat}" 
                                                 placeholder="Masukkan Alamat Anda" required="true" requiredMessage="Alamat harus diisi!"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="cols-sm-2 control-label">City </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <p:inputText class="form-control" value="#{customerBean.pelangganGeneral.kota}" 
                                                 placeholder="Masukkan Kota Anda" required="true" requiredMessage="Kota harus diisi!"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Phone </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <p:inputText class="form-control" value="#{customerBean.pelangganGeneral.telepon}" 
                                                 placeholder="Masukkan Nomor Telepon Anda" required="true" requiredMessage="Nomor Telepon harus diisi!"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <p:password class="form-control" id="password" value="#{customerBean.pelangganGeneral.password}" placeholder="Enter your Password"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <p:commandButton class="btn btn-primary btn-lg btn-block login-button" value="Register"
                                             action="#{customerBean.addCustomerRegister()}"
                                             update="growl5">
                            </p:commandButton>
                            <p:growl id="growl5" showDetail="true" autoUpdate="true" life="2000"/> 

                        </div>

                    </div>
                </div>
            </div>
        </h:form>

        <!--  Latest jQuery form server --><script
            src="js/jquery.min.js" type="text/javascript"
        ></script>
        <!--  Bootstrap JS form CDN --> <script
            src="js/bootstrap.min.js"
        type="text/javascript" ></script>
        <!--  jQuery sticky menu --> <script src="js/owl.carousel.min.js"
        type="text/javascript" ></script> <script
        src="js/jquery.sticky.js" type="text/javascript" ></script>
        <!--  jQuery easing --> <script src="js/jquery.easing.1.3.min.js"
        type="text/javascript" ></script>
        <!--  Main Script --> <script src="js/main.js" type="text/javascript"
        ></script>
        <!--  Slider --> <script type="text/javascript" src="js/bxslider.min.js"
        ></script> <script type="text/javascript"
        src="js/script.slider.js" ></script>
    </h:body>
</html>

