<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>

        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Produk</title>
        <!--  Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css" />
        <!--  Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!--  Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--  Custom CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/W3.css" />
    </h:head>
    <h:body>
        <h:form>
            #{produkBean.readAllBook()}
            #{customerBean.cekApakahLoggedOn()}
            #{customerBean.gantiCheck()}
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="user-menu">
                                <ul>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navToManageAcc()}" value="&nbsp; #{customerBean.loggedChecker}" update="growl" class="fa fa-user"></p:commandLink>
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" life="2000"/> 
                                        </i>
                                    </li>
                                    <li>
                                        <a href="cart.xhtml?faces-redirect=true"><i class="fa fa-shopping-cart"></i> My
                                            Cart</a>
                                    </li>
                                    <li>
                                        <a href="produk.xhtml?faces-redirect=true"><i class="fa fa-building"></i>
                                            Shop</a>
                                    </li>
                                    <li>
                                        <i>
                                            <p:commandLink action="#{customerBean.navigasiCheck()}" value="&nbsp; #{customerBean.flagChecker}" class="fa fa-lock"></p:commandLink>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form> <!-- logo dll -->
            <div class="site-branding-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="logo">
                                <h1>
                                    <a href="index.xhtml?faces-redirect=true"><img src="img/logo.png" alt="" /></a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shopping-item">
                                <a href="cart.xhtml?faces-redirect=true">Cart - <span class="cart-amunt">Rp. #{orderBean.readTotalTerakhirCart()}</span>
                                    <i class="fa fa-shopping-cart"></i> <spanreadSubTotalCart
                                        class="product-count">#{orderBean.listDetailPesananDalamCart.size()}</spanreadSubTotalCart></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:form> <!-- menu utama -->
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"> <span
                                    class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="index.xhtml?faces-redirect=true">Home</a>
                                </li>
                                <li  class="active">
                                    <a href="produk.xhtml?faces-redirect=true">Shop page</a>
                                </li>
                                <li>
                                    <a href="cart.xhtml?faces-redirect=true">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form>
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"> <span
                                    class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> </button>
                        </div>

                    </div>
                </div>
            </div>
            <!--  End mainmenu area -->
            <div class="product-big-title-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-bit-title text-center">
                                <h2>
                                    Shop
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-product-area">
                <div class="zigzag-bottom"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-sidebar">
                                <h:form>
                                    <h2 class="sidebar-title">
                                        Search Products
                                    </h2>
                                    <p:inputText value="#{produkBean.bookGeneral.title}"/> 
                                    <p:commandButton value="Search" action="#{produkBean.searchProduk()}" update="growl2"/>
                                    <p:growl id="growl2" showDetail="true" autoUpdate="true" life="2000"/>  
                                </h:form>
                            </div>
                            <div class="single-sidebar">
                                <h2 class="sidebar-title">
                                    Products
                                </h2>
                                <ui:repeat value="#{produkBean.listAllBook}" var="item">
                                
                                    <div class="col-md-3 col-sm-6">
                                    <div class="single-shop-product">
                                        <p:commandLink action="#{produkBean.showSingleProduct(item)}">
                                            <img src="#{item.gambar}" class="recent-thumb" alt="" /> 
                                        </p:commandLink>
                                     
                                    <h2>
                                       
                                    </h2>
                                    <div class="product-sidebar-price">
                                        <ins>Rp. #{item.price}</ins> 
                                    </div>
                                </div>
                               
                            </div>
                                    
                                
                            </ui:repeat>
                                </div>

                        </div>
                        <div class="col-md-8">
                            <div class="product-content-right">
                                <div class="product-breadcroumb">
                                    <!-- <a href="">Home</a> <a href="">Category Name</a>
                                    <a href="">Harry Potter and The Deathly Hallows</a> -->
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="product-images">
                                            <div class="product-main-img">
                                                <img src="#{produkBean.bookGeneral.gambar}" alt="" />
                                            </div>
                                            <!-- <div class="product-gallery">
                                                 <img src="img/Buku2.png" alt="" /> <img
                                                     src="img/Buku3.jpg" alt="" /> <img
                                                     src="img/Buku5.jpg" alt="" />
                                             </div> -->
                                        </div>
                                    </div>
                                    <!--  start here -->
                                    <!--tambahin class single-product untuk masing-masih produk-->

                                    <div class="col-sm-6">

                                        <div class="product-inner">
                                            <h2 class="product-name">
                                                #{produkBean.bookGeneral.title}
                                            </h2>
                                            <div class="product-inner-price">
                                                <!--<ins>$700.00</ins> <del>$100.00</del>-->
                                                Rp. #{produkBean.bookGeneral.price}
                                            </div>


                                            <div class="quantity">
                                                <input size="4" class="input-text qty text"
                                                       title="Qty" value="1" name="quantity" />
                                            </div>   
                                                <p:commandButton class="add_to_cart_button" action="#{orderBean.addCartPesananGeneral()}"
                                                                 value="Add to Cart">
                                                </p:commandButton>
                                           
                                            <!--<div class="product-inner-category">
                                                <p>
                                                    Category: <a href="">Summer</a>. Tags: <a
                                                        href="">awesome</a>, <a href="">best</a>,
                                                    <a href="">sale</a>, <a href="">shoes</a>.
                                                </p>
                                            </div>-->
                                            <div>
                                                <ul class="product-tab">
                                                    <li class="active">
                                                        <a href="#home">Description</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="home">
                                                        <h2>
                                                            Product Description
                                                        </h2>
                                                        <p>
                                                            #{produkBean.bookGeneral.description}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!--  End here -->

                                    <div class="related-products-wrapper">
                                              
                                        <h2 class="related-products-title">
                                            Related Products
                                        </h2>
                                        <div class="related-products-carousel">
                                            <ui:repeat var="item" value="#{produkBean.listAllBook}">
                                                <div class="single-product">
                                                    <div class="product-f-image">
                                                        <img src="#{item.gambar}" alt="" />
                                                        <div class="product-hover">
                                                            <i class="fa fa-shopping-cart">
                                                                <p:commandLink class="add-to-cart-link"
                                                                               value="Add To Cart" action="#{orderBean.addCartPesanan(item)}"/>    

                                                            </i>

                                                            <a href="" class="view-details-link"> See details</a>
                                                            <i class="fa fa-link">
                                                                <p:commandLink class="view-details-link" action="#{produkBean.showSingleProduct(item)}"
                                                                               value="See Details">
                                                                </p:commandLink>
                                                            </i>
                                                        </div>
                                                    </div>
                                                    <h2>
                                                        <a href="">#{item.title}</a>
                                                    </h2>
                                                    <div class="product-carousel-price">
                                                        <ins>Rp. #{item.price}</ins> 
                                                    </div>
                                                </div>
                                            </ui:repeat>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Latest jQuery form server --><script
                src="js/jquery.min.js" type="text/javascript"
            ></script>
            <!--  Bootstrap JS form CDN --> <script
                src="js/bootstrap.min.js"
            type="text/javascript" ></script>
            <!--  jQuery sticky menu --> <script src="js/owl.carousel.min.js"
            type="text/javascript" ></script> <script
            src="js/jquery.sticky.js" type="text/javascript" ></script>
            <!--  jQuery easing --> <script src="js/jquery.easing.1.3.min.js"
            type="text/javascript" ></script>
            <!--  Main Script --> <script src="js/main.js" type="text/javascript"
            ></script>
            <!--  Slider --> <script type="text/javascript" src="js/bxslider.min.js"
            ></script> <script type="text/javascript"
            src="js/script.slider.js" ></script>
        </h:form>

    </h:body>
</html>

